<a href="https://colab.research.google.com/github/sraa2501/Python-Coruse-/blob/main/Copy_of_variables_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable Exercises

## Task 1
<b>Create a numeric variable and print out its memory address</b>

***You print memory addresses using the id() function***

In [ ]:
# Code goes here
var = 23 
id(23)
id(var)

93929200880832

## Task 2
<b>Create a variable of type string and print out its value, then reassign a value of type float to the same variable and printout its value</b>

In [ ]:
var = [1,2,3,4]
var = "hello"

In [ ]:
# Code goes here
var = 'Hello'
print(var)
var = 14.3 
print(var)

Hello
14.3

## Task 3
<b>Assign values of different types to each of the following variables and print out their types</b>

In [ ]:
# Code goes here
var1, var2, var3 = 24, "Sabrina", {1,2,3,4,5}
print(var1, var2, var3)

24 Sabrina {1, 2, 3, 4, 5}

------------------
# String Exercises

## Task 1
<b>Create a string and print the first character</b>

In [ ]:
# Code goes here
word = "Sabrina" 
print(word[0])

S

## Task 2
<b>In your own words, describe what is meant by an index</b>

In [ ]:
# Response goes here
# 
# An index is a numbers representation of iteam place in a sequence

## Task 3
<b>Create a string and print out the last character (without using the len() function)</b>

In [ ]:
# Code goes here
word = "Sabrina" 
print(word[6])

a

## Task 4
<b>Create a string and print out the last character using the len() function</b>

In [ ]:
# Code goes here
word = 'Sabrina'
print(len(word))

7

## Task 5
<b> Print the first, middle, and last character of the string, as well as its length</b>

In [ ]:
# Code goes here
var = "Directing"
print(var[0])
print(var[4])
print(var[8])

D
c
g

## Task 6
<b> Create two string variables and concatenate (combine) them to create a new variable called message, then print the message.</b>

In [ ]:
# Code goes here
var1, var2 = "Hello my name is Sabrina","I am 14"
message = var1 + var2 + ", and Hello my name is Sabrina","I am 14"
print(message)

('Hello my name is SabrinaI am 14, and Hello my name is Sabrina', 'I am 14')

-------------------
# Lists and Tuple Exercises

## Task 1
<b> Create a 5 element list and print out its length</b>

In [ ]:
# Code goes here
var = [1,2,3,4,5]
print(len(var))

5

## Task 2
<b> create a 5 element list of integers then print the list. Next, change the first and last elements then print the list</b>

In [ ]:
# Code goes here
var = [1,2,3,4,5]
print(f"List before editing: {var}")
var[2] = 70
print(f"List after editing: {var}")

List before editing: [1, 2, 3, 4, 5]
List after editing: [1, 2, 70, 4, 5]

## Task 3
<b> create a 3 element list where each element is a diffrent type, then print out the type of each element</b>

In [ ]:
# Code goes here
var1, var2, var3 = 24, "Sabrina", [1,2,3,4,5]
l = (var1, var2,var3,)
print(f"First element: {l[0]}")
l[0]

First element: 24

24

## Task 4
<b> Create a 5 element tuple of floats, then print out the middle value</b>

In [ ]:
# Code goes here
var = (1.5,2.5,3.5,4.5,5.0)
print(f"First element: {var[2]}")

First element: 3.5

## Task 5
<b>The following code produces an error. Change the data type so that the error gets fixed</b>

In [ ]:
# Solution goes here
var = ('This', "is", "a", "tuple")
var = 'list'
print(var)

list

## TASK 6
**Create a list of numbers then append the values 10, 15, and 20 to the list**

In [ ]:
#TODO: 
var1 = [1,2,3,4,5]
var2 = 10, 15,20
var1.append([10,15,20])
var1

[1, 2, 3, 4, 5, [10, 15, 20]]