# Printing Project

Below is a series of tasks to complete to help you understand how printing works

# Task 1
This task is fairly simple. All you need to do is print your name and your age.

In [1]:
# Code goes her
print("Sabrina", "14", "Raasin")

Sabrina 14 Raasin

# Task 2
print your name and age using 2 print function arguments.
<p><em>Remember, print statement arguments are separated by commas.</em></p>

```python 
#expected output#
" 'your_name' 'your_age' "
```

In [2]:
# Code goes here
"'Sabrina' '14'"

"'Sabrina' '14'"

# Task 3
print your name and age using 2 print function arguments, separated by a colon.

```python 
#expected output#
" 'your_name':'your_age' "
```

In [ ]:
# Code goes here
" 'Sabrina':'14' "

# Task 4
print your favorite food and dessert separated by a colon.

```python 
#expected output#
"my favorite food is 'your_food':'your_dessert' "
```

In [3]:
# Code goes here
"my favorite food is 'pancakes':'ice cream' "

"my favorite food is 'pancakes':'ice cream' "

# Task 5
Produce the following using separators.

```python
"Wow I cant belive I am a: 'your_grade' in high school"
```

In [4]:
# Code goes here
"Wow I cant belive I am a: 'freshmen' in high school"

"Wow I cant belive I am a: 'freshmen' in high school"

# Task 6
Edit the code in order to print everything in a single line

In [5]:
# code goes here
print("Bruh, I am so bored right know🤦🏾‍♀️")
var = " rainy days are boring"
print(var)

Bruh, I am so bored right know🤦🏾‍♀️
 rainy days are boring

# Task 7
Edit the code to print the values using an f-string

In [8]:
# Code goes here
animal = 'Monster'
show = "sesame street"
print("How old is that", animal, "from", show, "?")

How old is that Monster from sesame street ?

# Task 8
Use an f-string to print the name of your school, what grade you're in and your favorite thing for lunch

```python 
#expected output#
"My name is 'your_name' and I am in 'your_grade'. My favorite thing for lunch is 'fav_lunch'."
```

In [14]:
# Code goes here
name = 'Sabrina'
school = 'Washburn high school'
grade = '9th grade'
fav_lunch = 'Burgers'
"My name is 'Sabrina' and I am in '(thgrade'. My favorite thing for lunch is 'fav_lunch'."

"My name is 'name' and I am in 'your_grade'. My favorite thing for lunch is 'fav_lunch'."

# TASK 9
Use the escape character `\n` to print the following string.

> If I had a million dollars

> I'd spend it on `'What ever you would spend it on goes here'`

In [ ]:
#TODO

# TASK 10
Use the escape character `\n` to print the following.

>do